tres_raya.dtd

<!ELEMENT partida (jugadores, tablero, turnos)>
<!ELEMENT jugadores (jugador+)>
<!ELEMENT jugador (nombre, ficha)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ficha (#PCDATA)>
<!ELEMENT tablero (celda*)>
<!ELEMENT celda EMPTY>
<!ATTLIST celda
    posicion (1|2|3|4|5|6|7|8|9) #REQUIRED
    ficha (X|O) #IMPLIED>
<!ELEMENT turnos (turno+)>
<!ELEMENT turno (nombreJugador, posicion)>
<!ELEMENT nombreJugador (#PCDATA)>
<!ELEMENT posicion (#PCDATA)>